# This is a Part-1 of this Assignment

In [3]:
import numpy as np

import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json 

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim

import requests
from pandas.io.json import json_normalize 

import matplotlib.cm as cm
import matplotlib.colors as colors

from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes 
import folium # map rendering library

print('Libraries imported.')

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    openssl-1.1.1d             |       h516909a_0         2.1 MB  conda-forge
    geopy-1.20.0               |             py_0          57 KB  conda-forge
    ca-certificates-2019.11.28 |       hecc5488_0         145 KB  conda-forge
    certifi-2019.11.28         |           py36_0         149 KB  conda-forge
    geographiclib-1.50         |             py_0          34 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         2.5 MB

The following NEW packages will be INSTALLED:

    geographiclib:   1.50-py_0         conda-forge
    geopy:           1.20.0-py_0       conda-forge

The following packages will be UPDATED:

    ca-certificates: 2019.10.16-0                  --> 2019.11.28-hecc5488_0 conda-forge
    certifi:         2019.9.11-py36_0              --> 2019.11.28-py36_0     conda-forge

The following packages will be DOWNGRADED:

    openssl:         1.1.1d-h7b6447c_3             --> 1.1.1d-h516909a_0     conda-forge


Downloading and Extracting Packages
openssl-1.1.1d       | 2.1 MB    | ##################################### | 100%
geopy-1.20.0         | 57 KB     | ##################################### | 100%
ca-certificates-2019 | 145 KB    | ##################################### | 100%
certifi-2019.11.28   | 149 KB    | ##################################### | 100%
geographiclib-1.50   | 34 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    branca-0.3.1               |             py_0          25 KB  conda-forge
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    altair-3.3.0               |           py36_0         747 KB  conda-forge
    folium-0.5.0               |             py_0          45 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         846 KB

The following NEW packages will be INSTALLED:

    altair:  3.3.0-py36_0 conda-forge
    branca:  0.3.1-py_0   conda-forge
    folium:  0.5.0-py_0   conda-forge
    vincent: 0.4.4-py_1   conda-forge


Downloading and Extracting Packages
branca-0.3.1         | 25 KB     | ##################################### | 100%
vincent-0.4.4        | 28 KB     | ##################################### | 100%
altair-3.3.0         | 747 KB    | ##################################### | 100%
folium-0.5.0         | 45 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Libraries imported.

In [32]:
!pip install lxml

Requirement already satisfied: lxml in /opt/conda/envs/Python36/lib/python3.6/site-packages (4.3.1)

In [34]:
dfToronto = pd.read_html(url)[0]

#Download the Data by url

In [53]:
dfToronto.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [36]:
dfToronto.shape

(287, 3)

#Remove the columns which has value 'Not Assigned'

In [54]:
df=dfToronto[dfToronto.Borough != 'Not assigned']

In [55]:
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [56]:
df.shape

(210, 3)

#Short the values to make unique Postcode

In [48]:
df = df.sort_values(by=['Postcode','Borough']).sum

In [57]:
df.reset_index(inplace=True)

In [58]:
df.head()

   index Postcode           Borough     Neighbourhood
0      2      M3A        North York         Parkwoods
1      3      M4A        North York  Victoria Village
2      4      M5A  Downtown Toronto      Harbourfront
3      5      M6A        North York  Lawrence Heights
4      6      M6A        North York    Lawrence Manor

#Delete the index col

In [59]:
df.drop('index',axis=1,inplace=True)

/opt/conda/envs/Python36/lib/python3.6/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [61]:
df.head(10)

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor
5      M7A      Queen's Park      Not assigned
6      M9A  Downtown Toronto      Queen's Park
7      M1B       Scarborough             Rouge
8      M1B       Scarborough           Malvern
9      M3B        North York   Don Mills North

#Combine values of Neighborhood for same Postcodes. Sep by ','

In [62]:
df_t=df.groupby(['Postcode','Borough'],as_index=False, sort=False).agg(','.join)

In [63]:
df_t.head(10)

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto                     Harbourfront
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Not assigned
5      M9A  Downtown Toronto                     Queen's Park
6      M1B       Scarborough                    Rouge,Malvern
7      M3B        North York                  Don Mills North
8      M4B         East York   Woodbine Gardens,Parkview Hill
9      M5B  Downtown Toronto          Ryerson,Garden District

In [64]:
df_t['Neighbourhood']=set(df_t['Neighbourhood'])

In [65]:
df_t.head(10)

  Postcode           Borough                              Neighbourhood
0      M3A        North York                                 Davisville
1      M4A        North York                            Emery,Humberlea
2      M5A  Downtown Toronto                           Victoria Village
3      M6A        North York                             Downsview West
4      M7A      Queen's Park          The Annex,North Midtown,Yorkville
5      M9A  Downtown Toronto                                    Leaside
6      M1B       Scarborough              Commerce Court,Victoria Hotel
7      M3B        North York  East Birchmount Park,Ionview,Kennedy Park
8      M4B         East York                                  Northwest
9      M5B  Downtown Toronto                            York Mills West

#Change the Columns name as per our requirement

In [66]:
df_t.rename(columns={'Postcode':'PostalCode', 'Neighbourhood':'Neighborhood'}, inplace=True)

In [68]:
df_t.head(12)

,PostalCode,Borough,Neighborhood
0,M3A,North York,Davisville
1,M4A,North York,"Emery,Humberlea"
2,M5A,Downtown Toronto,Victoria Village
3,M6A,North York,Downsview West
4,M7A,Queen's Park,"The Annex,North Midtown,Yorkville"
5,M9A,Downtown Toronto,Leaside
6,M1B,Scarborough,"Commerce Court,Victoria Hotel"
7,M3B,North York,"East Birchmount Park,Ionview,Kennedy Park"
8,M4B,East York,Northwest
9,M5B,Downtown Toronto,York Mills West
10,M6B,North York,"Moore Park,Summerhill East"
11,M9B,Etobicoke,"Albion Gardens,Beaumond Heights,Humbergate,Jam..."

# End of Part-1